*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header h1{
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
    font-family: 'Courier New';
} 

header .btn-menu{
    visibility: hidden;
    position: absolute;
}

nav{
    display: flex;
    overflow: hidden;
    background-color: #95b6c4;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    position: sticky;
    top: 0;
}
  
.nav ul{
    list-style: none;
}

.nav .nav_ul > li{
  float: left;
  margin: 0 8rem;
}

.nav_ul li a{
  padding: 1.2rem;
  color: black;
  display: block;
  background-color: #95b6c4;
  text-decoration: none;
  width: 10rem;
  margin: 0;
  text-align: center;
  min-width: 8rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.nav_ul li a:hover{
  color: #ffffff;
  text-decoration: none;
}

#title{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 26.3rem;
}

.text{
    font-size: 1.2rem;
    margin: 3rem 10rem;
}

/*Comienzo del footer*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 0 0;
    background-color:  #95b6c4;
    padding: 1.1rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.footer p strong{
    margin-left: 0.8rem;
}

.container-footer-icon{
    margin-left: 2rem;
    font-size: 1.3rem;
}

.container-footer-icon a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 1rem;
}

.container-footer-icon a:hover{
    color: #fff;
}

@media (max-width: 1248px) {
    .nav .nav_ul > li{
        float: left;
        margin: 0 5rem;
      }
}


@media (max-width: 992px) {

    header{
        display: flex;
        background-color: #95b6c4;
        height: 4rem;
    }


    header h1{
        margin: 0 2rem 0 0;
        justify-content: flex-start;
        align-self: center;
        width: 20rem;
        font-size: 3.2rem;
    }

    header .btn-menu{
        visibility: visible;
        position: absolute;
        top: 1.2rem;
        right: 2rem;
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .btn-menu:hover{
        color: #fff;
        transition: color 0.4s ease;
    }

    .nav{
        margin: 0;
        position: absolute;
        top: 4rem;
        right: 3rem;
        width: 13rem;
        background-color: rgb(235, 226, 226);
        border-radius: 0.5rem;
        box-shadow: 0 0.4rem 1rem rgb(0 0 0 / 20%);
    }

    .ocultar{
        display: none;
    }

    .nav_ul li ul{
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }

      .nav_ul li:hover ul{
        position: static;
        box-shadow: none;
    }

    .nav ul li a{
        text-align: left;
        margin-left: 1rem;
        background-color: rgb(235, 226, 226);
    }

    .nav .nav_ul > li{
        float: none;
        margin: 0.5rem 0;
        width: 13rem;
    }
   
    .nav_ul li a:hover{
        color: #047aa9;
        transition: all 0.4s ease;
        background-color: #fff;

    }

    .text{
        width: 75%;
    }

    .footer{
        overflow-x: hidden;
    }
}

@media (max-width: 576px){
    header{
        height: 4rem;
    }

    header i{
        top: 1.2rem;
    }

    header h1{
        font-size: 3rem;
        margin-top: 0.3rem;
    }

    #title{
        font-size: 2.5rem
    }

    .footer{
        align-items: center;
        flex-direction: column;
    }

    .footer p{
        margin-bottom: 1rem;
    }

    .footer p strong{
        margin-left: 0.8rem;
    }

    .container-footer-icon{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

}







