body{
    font-size: 30px;
    }

header{
    display: flex;
    color:  #000000;
    padding: 20px;
    height: 100px;
    margin-bottom: 10px;
    justify-content: center;
}

h1{
    margin-left: 50px;
    margin-top: 20px;;
    font-size: 50px;
    font-weight: bold;
}

nav{
    display: grid;
    background: #95b6c4;
    height: 100px;
    margin-bottom: 50px;
    align-content: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding: 10px;
}


nav ul a:hover{
    color:#ffffff;
    text-decoration: none;
}

.container-img{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container-text{
    margin-top: 100px;
}

footer{
    margin-top: 10px;
    text-align: center;
    background-color:  #95b6c4 ;
    padding: 10px;
    font-size: 20px;
}